In [148]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [3]:
dt = pd.read_csv('C:\\Users\\Nezna\\Desktop\\data\\Mall_Customers.csv')

In [8]:
def info(data):
    display(data.info())
    display(data.head())
    display(data.describe())

In [9]:
info(dt)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

None

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000

In [20]:
columns = dt.columns.tolist()
print(columns)

['CustomerID', 'Genre', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)']

In [ ]:
plt.bar(

In [81]:
def counts(data, columns):
    for i in columns:
        if i == 'CustomerID':
            continue
        else:
            print(data[i].value_counts())

In [82]:
counts(dt, columns)

Genre
Female    112
Male       88
Name: count, dtype: int64
Age
32    11
35     9
31     8
19     8
30     7
49     7
23     6
40     6
36     6
27     6
47     6
38     6
50     5
20     5
21     5
29     5
48     5
34     5
67     4
54     4
24     4
59     4
18     4
28     4
22     3
25     3
46     3
43     3
39     3
60     3
45     3
37     3
33     3
68     3
58     2
41     2
52     2
57     2
65     2
53     2
51     2
42     2
70     2
44     2
26     2
63     2
66     2
64     1
69     1
55     1
56     1
Name: count, dtype: int64
Annual Income (k$)
54     12
78     12
60      6
48      6
63      6
       ..
101     2
113     2
120     2
126     2
137     2
Name: count, Length: 64, dtype: int64
Spending Score (1-100)
42    8
55    7
73    6
46    6
48    5
     ..
68    1
85    1
23    1
8     1
18    1
Name: count, Length: 84, dtype: int64

In [100]:
more_50 = dt[dt['Spending Score (1-100)'] >= 50]
less_50 = dt[dt['Spending Score (1-100)'] < 50]

In [99]:
more_50

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
1             2    Male   21                  15                      81
3             4  Female   23                  16                      77
5             6  Female   22                  17                      76
7             8  Female   23                  18                      94
9            10  Female   30                  19                      72
..          ...     ...  ...                 ...                     ...
191         192  Female   32                 103                      69
193         194  Female   38                 113                      91
195         196  Female   35                 120                      79
197         198    Male   32                 126                      74
199         200    Male   30                 137                      83

[102 rows x 5 columns]

In [101]:
less_50

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
2             3  Female   20                  16                       6
4             5  Female   31                  17                      40
6             7  Female   35                  18                       6
8             9    Male   64                  19                       3
..          ...     ...  ...                 ...                     ...
190         191  Female   34                 103                      23
192         193    Male   33                 113                       8
194         195  Female   47                 120                      16
196         197  Female   45                 126                      28
198         199    Male   32                 137                      18

[98 rows x 5 columns]

In [104]:
dt = dt.drop('CustomerID', axis=1)

In [107]:
dt['is_buy'] = np.where(dt['Spending Score (1-100)'] >= 50,1,0)

In [108]:
dt

      Genre  Age  Annual Income (k$)  Spending Score (1-100)  is_buy
0      Male   19                  15                      39       0
1      Male   21                  15                      81       1
2    Female   20                  16                       6       0
3    Female   23                  16                      77       1
4    Female   31                  17                      40       0
..      ...  ...                 ...                     ...     ...
195  Female   35                 120                      79       1
196  Female   45                 126                      28       0
197    Male   32                 126                      74       1
198    Male   32                 137                      18       0
199    Male   30                 137                      83       1

[200 rows x 5 columns]

In [131]:
onehotencoder = OneHotEncoder(sparse_output = False)
dt_new = pd.DataFrame(onehotencoder.fit_transform(dt[['Genre']]))

In [132]:
onehotencoder.get_feature_names_out()

array(['Genre_Female', 'Genre_Male'], dtype=object)

In [135]:
dt_new.columns = onehotencoder.get_feature_names_out()

In [136]:
dt_new

     Genre_Female  Genre_Male
0             0.0         1.0
1             0.0         1.0
2             1.0         0.0
3             1.0         0.0
4             1.0         0.0
..            ...         ...
195           1.0         0.0
196           1.0         0.0
197           0.0         1.0
198           0.0         1.0
199           0.0         1.0

[200 rows x 2 columns]

In [137]:
dt = dt.join(dt_new)
dt.drop('Genre', axis = 1, inplace = True)

In [138]:
dt

,Age,Annual Income (k$),Spending Score (1-100),is_buy,Genre_Female,Genre_Male
0,19,15,39,0,0.0,1.0
1,21,15,81,1,0.0,1.0
2,20,16,6,0,1.0,0.0
3,23,16,77,1,1.0,0.0
4,31,17,40,0,1.0,0.0
...,...,...,...,...,...,...
195,35,120,79,1,1.0,0.0
196,45,126,28,0,1.0,0.0
197,32,126,74,1,0.0,1.0
198,32,137,18,0,0.0,1.0
199,30,137,83,1,0.0,1.0

In [142]:
features = dt.drop(['is_buy'],axis=1) 
target = dt['is_buy']

In [145]:
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.2, random_state=42)

In [146]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [149]:
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: {:.2f}%".format(accuracy * 100))

Accuracy: 100.00%